extends layout

block content
  h1= title
  a(href=`/feed/${id}/feed.xml`) RSS Feed

  form(method='POST')
    h3 Add Episode
    label(for='videoId') Youtube Video Id
    input(type='text' id='videoId' name='videoId')
    input(type='submit')

  h2 Episodes
  if episodes.length > 0
    table
      tr
        th Remove
        th Author
        th Title
        th Added
        th Job
      each episode in episodes
        tr
          td
            a(href=`/feed/${id}/${episode.jobId}/remove`) [x]
          td #{episode.author}
          td #{episode.title}
          td #{episode.dateAdded}
          td
            a(href=`/jobs/${episode.jobId}/`) #{episode.jobId}
  else
    p No episodes :( Maybe add some?
