extends layout

block content
  h1 Job #{job.jobId}

  p Id : #{job.jobId}
  p Type : #{job.type}
  p Status : #{job.status}

  if track.title
    h2 Track
    img(src=track.coverUrl, alt='cover')
    p Artist : #{track.artist}
    p Album : #{track.album}
    p Title : 
      a(href='/track/' + track.id) #{track.title}
