extends layout

block content
  h1= title

  a(href='/playlist/' + id + '/queue')
    button Add to Queue
  br
  a(href='/jobs') View Queue
  br
  a(href='/playlist/' + id + '/file') Download Playlist File
  br
  label(for='timeBetweenTracks') Time to wait between track downloads
  input(id='timeBetweenTracks', type='number', value='1')
  br
  button(onClick='downloadPlaylist()') Download available tracks

  h2 Tracks
  table
    tr
      th
      th Artist
      th Title
      th Available
    each track in tracks
      tr
        td
          img(src=track.coverUrl, alt='cover')
        td #{track.artist}
        td
          a(href=`/track/${track.id}/`) #{track.title}
        td #{track.available}

  script id = '#{id}'
  script(src='/static/FileSaver.min.js')
  script(src='/static/download.js')
