extends layout

block content
  h1= title


  p Size : #{size}
  a(href='/playlist/' + id + '/queue')
    button Add to Queue
  br
  a(href='/jobs') View Queue
  br
  a(href='/playlist/' + id + '/file') Download Playlist File
  br
  label(for='timeBetweenTracks') Time to wait between track downloads
  input(id='timeBetweenTracks', type='number', value='1')
  br
  button(onClick='downloadPlaylist()') Download available tracks
  br
  a(href='/playlist/' + id + '/remove') Remove tracks

  h2 Tracks
  table
    tr
      th Remove
      th Available
      th Size
      th
      th Artist
      th Title
    each track in tracks
      tr
        td
          if track.available === 'true'
            a(href=`/track/${track.id}/remove?redirect=/playlist/${id}`) [x]
        td #{track.available}
        td #{track.sizeMb}
        td
          img(src=track.coverUrl, alt='cover')
        td #{track.artist}
        td
          a(href=`/track/${track.id}/`) #{track.title}

  script id = '#{id}'
  script(src='/static/FileSaver.min.js')
  script(src='/static/download.js')
