extends layout

block content
  h1= title

  table
    tr
      th
      th Owner
      th Name
      th Number of tracks
    each playlist in playlists
      tr
        td
          img(src=playlist.coverUrl, width=80, alt='playlist image')
        td #{playlist.owner}
        td
          a(href='/playlist/' + playlist.id) #{playlist.name}
        td #{playlist.tracks.split(' ').length - 1}
