extends layout

block content
  h1= title

  a(href='/playlist/' + id + '/queue')
    button Add to Queue
  br
  a(href='/jobs') View Queue
  br
  a(href='/playlist/' + id + '/file') Download Playlist File

  h2 Tracks
  table
    tr
      th
      th Artist
      th Title
      th Available
    each track in tracks
      tr
        td
          img(src=track.coverUrl)
        td #{track.artist}
        td #{track.title}
        td #{track.available}
